In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('Visualizacion/data/dataset.csv')

In [63]:
df.head()

,Messier,NGC,Object_Type,Magnitude,Constellation,Distance,Dimensions,Discoverer,Year,Name
0,M1,NGC 1952,Supernova remnant,8,Taurus,6500,6.0' x 4.0',Bévis,1731,Crab Nebula
1,M2,NGC 7089,Globular Cluster,6,Aquarius,55000,11.7',Maraldi,1746,NaN
2,M3,NGC 5272,Globular Cluster,6,Canes Venatici,48500,18.6',Messier,1764,NaN
3,M4,NGC 6121,Globular Cluster,5,Scorpius,9900,22.8',Chéseaux,1746,NaN
4,M5,NGC 5904,Globular Cluster,5,Serpens,24800,19.9',Kirch,1702,NaN

In [ ]:
# En year pasamos a enteros los distintos a No Establecido
df['Year'] = df['Year'].apply(lambda x: int(float(x)) if x != 'No Establecido' else x)

In [ ]:
df.head(10)

In [ ]:
# Columna Object_Type queremos splitear por '/' y solo tomar el primer elemento
df['Object_Type'] = df['Object_Type'].apply(lambda x: x.split('/')[0].rstrip(' '))

In [ ]:
# Year cambiar los No regrstrado por no establecido
df['Year'] = df['Year'].replace('No Registrado', 'No Establecido')

In [ ]:
df.head(10)

In [ ]:
# Revisemos cuantos valores son nulos
df.isnull().sum()

In [ ]:
nulos_Disc = df[df['Discoverer'].isnull()]

df['Discoverer'] = df['Discoverer'].fillna('No Registrado')

In [ ]:
# Ponemos de dimension 0.8' porque no se cargo bien el dato
nulos_dim = df[df['Dimensions'].isnull()]

df['Dimensions'] = df['Dimensions'].fillna("0.8'")

In [ ]:
#Busquemos los valores nulos en la columna NGC
nulos_NG = df[df['NGC'].isnull()]

# Cambiamos los valores nulos por No NGC
df['NGC'] = df['NGC'].fillna('No Registrado')

In [ ]:
# Quiero a la columna Object_Type hacer un split de / y quedarme con el primer elemento
df['Object_Type'] = df['Object_Type'].str.split('/').str[0]

In [ ]:
df.to_csv('Visualizacion/data/dataset.csv', index=False)

In [ ]:
# Drop column
df.drop('Name', axis=1, inplace=True)

In [37]:
df.dropna(inplace=True)

In [64]:
sorted(df['Distance'])

[410,
 510,
 520,
 780,
 880,
 980,
 1300,
 1410,
 1450,
 1500,
 1500,
 1500,
 1600,
 1630,
 1750,
 2060,
 2150,
 2300,
 2500,
 2600,
 2750,
 2800,
 2950,
 3000,
 3200,
 3600,
 3600,
 3700,
 4100,
 4200,
 4850,
 4900,
 5100,
 5600,
 5870,
 5870,
 6500,
 7800,
 8200,
 8500,
 9900,
 10000,
 13000,
 16000,
 16300,
 18900,
 19000,
 19200,
 20000,
 22500,
 22500,
 23500,
 23500,
 24000,
 24800,
 25800,
 28400,
 36000,
 36000,
 41000,
 43400,
 45600,
 48500,
 49000,
 49500,
 55000,
 62000,
 65000,
 69000,
 78500,
 2250000,
 2500000,
 2500000,
 2723000,
 8500000,
 8500000,
 8500000,
 11800000,
 20000000,
 20000000,
 20300000,
 21500000,
 23000000,
 23000000,
 23500000,
 23800000,
 26000000,
 27000000,
 29000000,
 29000000,
 29300000,
 32600000,
 36000000,
 37000000,
 37000000,
 40000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 41000000,
 52000000,
 63000000]

In [4]:
#quiero saber la freuencia de los valores de la columna object type
df['Object_Type'].value_counts()

Object_Type
Galaxy               40
Globular Cluster     29
Open Cluster         28
Emission Nebula       5
Planetary Nebula      4
Reflection Nebula     2
Supernova remnant     1
Double star           1
Name: count, dtype: int64

In [17]:
#quiero crear una nueva columna que sea la copia de la columna Object_Type pero que Emissiona Nebula, Planetary Nebula, Reflection Nebula y Supernova remnant pasen a ser Nebula
df['Object_Type2'] = df['Object_Type'].replace(['Emission Nebula', 'Planetary Nebula', 'Reflection Nebula', 'Supernova remnant'], 'Nebula')

In [19]:
df['Object_Type2'].value_counts()

Object_Type2
Galaxy              40
Globular Cluster    29
Open Cluster        28
Nebula              12
Double star          1
Name: count, dtype: int64

In [5]:
sorted(df["Year"])

['1610',
 '1654',
 '1654',
 '1654',
 '1654',
 '1654',
 '1654',
 '1660',
 '1665',
 '1680',
 '1681',
 '1702',
 '1710',
 '1714',
 '1731',
 '1746',
 '1746',
 '1746',
 '1746',
 '1746',
 '1746',
 '1746',
 '1746',
 '1749',
 '1749',
 '1749',
 '1750',
 '1750',
 '1751',
 '1751',
 '1751',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1764',
 '1769',
 '1771',
 '1771',
 '1771',
 '1771',
 '1773',
 '1773',
 '1774',
 '1774',
 '1774',
 '1775',
 '1775',
 '1777',
 '1778',
 '1778',
 '1779',
 '1779',
 '1779',
 '1779',
 '1779',
 '1779',
 '1779',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1780',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1781',
 '1782',
 '1782',
 '1782',
 'No Establecido',
 'No Establecido',
 'No Establecido']

In [20]:
df.to_csv('Visualizacion/dataset.csv', index=False)